title: Tom
description: >- # this means to ignore newlines until "baseurl:"
  into physics, computer science, and ultimate frisbee
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
#twitter_username: jekyllrb
github_username:  tmcclintock

author:
  name: "Tom McClintock"
  email: "tmcclintock89@gmail.com"

# Build settings
markdown: kramdown
#theme: minima
remote_theme: hyde
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/